<launch>

 <!-- Argumenty wywołania pliku .launch -->
  <arg name="gui" default="False" />
  
 <!-- Parametry wywołania jinta -->
  <param name="fps" type="double" value="60"/>

  <node name="jint" pkg="lab4" type="jint.py" />
  <node name="jint_service" pkg="lab4" type="jint_gui.py"  if="$(eval arg('gui'))"/>

</launch>
